<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MedAutoFill</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>    
	<script src="/static/js/typeahead.bundle.js"></script>
    <script src="/static/js/handlebars.js"></script>
    <script src="/static/js/autofill_input.js"></script>
</head>

<body>

	<form action="test">
    <div id="custom-templates" style="align:left; display:inline-block;">
        <div class="demo">
            <input id="priminput" class="typeahead" type="text">
        </div>
    </div>
	</form>
</body>

</html>
